html{
    font-size: 100%;
    box-sizing: border-box;
}

*, *::before, *::after{
    box-sizing: inherit;
}

body{
    margin: 0;
    padding: 166px 80px;
    font-family: 'Poppins', sans-serif;
    line-height: 1.5;
    @media only screen and (max-width: 600px){
        padding: 0;
    }
}